@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box; 

}
body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
#wrapper-cre{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding-top: 100px;
}
form{
    border: 1px solid #dadce0;
    border-radius: 5px;
    padding: 30px;
}
h3{
    text-align: center
    font-size 24px;
    font-weight: 500px;
}
form h3{
    padding-top: 30px;
}
.form-group{
    margin-bottom: 15px;
    position: relative;
}
input{
    height: 50px;
    width: 300px;
    outline: none;
    border: 1px solid #dadce0;
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
    color: black;
}
label{
    position: absolute;
    padding: 0px 5px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
input#btn-login{
    background: #131921;
    color: #fff;
    cursor: pointer;
}
input#btn-login:hover{
    opacity: 0.7;
}
#wrapper-login h5{
    display: flex;
    color: #fff;
    font-size: 10px;
    justify-content: center;
}
#wrapper-cre a{
    text-decoration: none;
    color: #131921;
    font-size: 10px;
}
#wrapper-cre a:hover{
    opacity: 0.7;
}
#wrapper-cre .icon{
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
}
#wrapper-cre .icon a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 5px;
}
#wrapper-cre a{
    cursor: pointer;
    font-size: 10px;
    margin: 0px 2px;
}
#wrapper-cre h4{
    color: #fff;
    font-size: 10px;
}
#wrapper-cre h5{
    color: #fff;
}